@import '~node_modules/modern-normalize/modern-normalize.css';
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

.open__filter {
  background-color: #fff;
  color: rgb(68, 64, 246);
  border: 1px solid rgb(68, 64, 246);
  border-radius: 20px;
  width: 112px;
  height: 31px;
}

@media screen and (min-width: 767px) {
  .button-mobile_item {
    display: none;
  }
}

.button_item {
  padding-left: 14px;
  display: none;
}
@media screen and (min-width: 768px) {
  .button_item {
    display: flex;
  }
}

.desk-open__filter {
  padding-left: 14px;
  display: none;
}
@media screen and (min-width: 1024px) {
  .desk-open__filter {
    display: flex;
  }
}

.button_item:first-child {
  padding-left: 16px;
}

.open__filter:hover,
.open__filter:focus {
  color: #fff;
  background-color: rgb(68, 64, 246);
  cursor: pointer;
}

.button__filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropbtn {
  background-color: #fff;
  color: rgb(68, 64, 246);
  border: 1px solid rgb(68, 64, 246);
  border-radius: 20px;
  width: 112px;
  height: 31px;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: #fff;
  background-color: rgb(68, 64, 246);
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #F8F8F8;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  width: 148px;
  max-height: 380px;
  border-radius: 10px;
  padding-left: 14px;
  overflow: scroll;
}

.dropdown-content a {
  color: rgb(68, 64, 246);
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.dropbtnAAA {
  background-color: #fff;
  color: rgb(68, 64, 246);
  border: 1px solid rgb(68, 64, 246);
  border-radius: 20px;
  width: 112px;
  height: 31px;
  cursor: pointer;
}

.dropbtnAAA:hover, .dropbtnAAA:focus {
  color: #fff;
  background-color: rgb(68, 64, 246);
  cursor: pointer;
}

.dropdownAAA {
  position: relative;
  display: inline-block;
}

.dropdown-contentAAA {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #F8F8F8;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  width: 168px;
  max-height: 380px;
  border-radius: 10px;
  padding-left: 14px;
  overflow: scroll;
}

.dropdown-contentAAA a {
  color: rgb(68, 64, 246);
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  display: block;
}

.showAAA {
  display: block;
}/*# sourceMappingURL=index.css.map */